<!-- <div class="container g-py-100">
  <header class="text-center g-mb-50">
    <h1 class="h2">Contact Us</h1>
    <p class="lead">Got a question? We'd love to hear from you!</p>
  </header>

  <div class="row text-center g-mb-50">
    <div class="col-sm-6 col-md-4 g-mb-30">
      <!-- Icon Blocks -->
      <!-- <span class="g-font-size-40 g-color-primary mb-3">
        <i class="icon-real-estate-027 u-line-icon-pro"></i>
      </span>
      <h4 class="h5 g-font-weight-600 g-mb-5">Address</h4>
      <span class="d-block">61 Oxford str., London, 3DG</span>
      <!-- End Icon Blocks 
    </div>

    <div class="col-sm-6 col-md-4 g-mb-30">
     
      <span class="g-font-size-40 g-color-primary mb-3">
        <i class="icon-communication-062 u-line-icon-pro"></i>
      </span>
      <h4 class="h5 g-font-weight-600 g-mb-5">Phone Number</h4>
      <span class="d-block">1-800-643-4500</span>
    
    </div>

    <
      <span class="g-font-size-40 g-color-primary mb-3">
        <i class="icon-electronics-005 u-line-icon-pro"></i>
      </span>
      <h4 class="h5 g-font-weight-600 g-mb-5">Email</h4>
      <span class="d-block">mail@htmlstream.com</span>
  
    </div>
  </div>

  <div class="text-center mx-auto g-width-70x--md">
    <form #contactform="ngForm" (ngSubmit)="onSubmit(contactform.value)" >
      <div class="row">
        <div class="col-md-6 form-group g-mb-30">
          <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus rounded-0 g-py-13 g-px-15" type="text" placeholder="Your name" name ="name"ngModel>
        </div>

        <div class="col-md-6 form-group g-mb-30">
          <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus rounded-0 g-py-13 g-px-15" type="tel" placeholder="Your phone" name="tel" ngModel>
        </div>

        <div class="col-md-12 form-group g-mb-30">
          <input class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus rounded-0 g-py-13 g-px-15" type="text" placeholder="Subject" name="subject"ngModel>
        </div>

        <div class="col-md-12 form-group g-mb-30">
          <textarea class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus g-resize-none rounded-0 g-py-13 g-px-15" rows="7" placeholder="Message" name="message"ngModel></textarea>
        </div>
      </div>

      <div class="text-center">
        <button class="btn u-btn-primary text-uppercase rounded-0 g-px-25 g-py-13" type="submit" role="button">Send Message</button>
      </div>
    </form>
  </div>
</div> -->
<!-- End Contacts -->

<!-- Call to Action -->
<!-- <div class="g-bg-primary g-py-100">
  <div class="g-max-width-645 text-center mx-auto">
    <div class="mb-5">
      <h2 class="g-color-white g-font-weight-600">Change of a living place - is the first step towards favorable changes</h2>
    </div>

    <span class="d-inline-block g-font-weight-600 text-uppercase mr-4">Call Us</span>
    <a class="btn u-btn-outline-white g-brd-2 g-color-main g-color-primary--hover g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2" href="#">
      (0161) 347 8854
      <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
    </a>
    <span class="d-inline-block g-font-weight-600 text-uppercase mx-4">or</span>
    <a class="btn u-btn-black g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2" href="page-contacts-1.html">
      Contact Us
      <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
    </a>
  </div>
</div> --> 

<div>
  <app-autocomplete-overview-example></app-autocomplete-overview-example>
</div>